/*  Color Modifications  */

/* Grab the body class and assign color values */
body{
    &.teal, &.profile{
        $color: $teal;
        @import "color-mixin";
        #fluence-logo.color span{
            background: $white;
        }
        #username{
            color: $white;
        }
    }
    &.green{
        $color: $green;
        @import "color-mixin";
    }
    &.blue, &.home, &#no-auth{
        $color: $blue;
        @import "color-mixin";
        
    }
    
    &.light-blue, &.settings, &.campaign{
        $color: $light-blue;
        @import "color-mixin";
    }
    &.red{
        $color: $red;
        @import "color-mixin";
    }
    &.orange, &.submit, &.onboard{
        $color: $orange;
        @import "color-mixin";
    }
}

// @media 
// only screen and (-webkit-min-device-pixel-ratio: 2), 
// only screen and (min-resolution: 192dpi) { 
    
// }