<!doctype html>
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true" />
  <meta name="robots" content="index,follow,archive">

  <meta name="author" content="Manik Rathee">
  <meta name="description" content="Brought to you by Manik Rathee">
  <meta name="keyword" content="Manik Rathee">
  <link rel="author" href="http://\\\\\\">

  <meta itemprop="name" content="">
  <meta itemprop="description" content="">
  <meta itemprop="image" content="/img/root/fb-thumb.jpg">

  <title></title>

  <meta property="og:title" content="">
  <meta property="og:site_name" content="Clique: a beaufitul contacts app for iPhone, coming soon">
  <meta property="og:image" content="/img/root/fb-thumb.jpg">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Clique is a beautiful iPhone app that allows you to manage and grow your contacts through this user-friendly platform and up-to-the-minute cloud synced personal and professional contact information. Brought to you by Focus Lab, LLC.">
  <meta property="og:url" content="http://">

  <meta name="twitter:creator" content="@username">
  <link rel="publisher" href="https://plus.google.com/\\\\\\\\\\\\\\\\\\\\?rel=author">
  <link rel="author" href="humans.txt" />

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144-precomposed.png">

  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />

  <script src="js/libs/modernizr-2.5.3.min.js"></script>
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="/css/ie8.css?v=0.1" media="screen">
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
