/* Base Styles */

/* Variables */
  // Color
  $white: rgba(255,255,255,1); /* #ffffff */
  $off-white: rgba(243,243,243,1); /* #f3f3f3 */
  $black: rgba(21,19,20,1); /* #151314 */
  $grey: rgba(136,136,136,1); /* #888888 */

  // Base Type
  $georgia: Georgia, Cambria, "Times New Roman", Times, serif;
  $helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
  $lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  $monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  // TypeKit
  $proxima:  "proxima-nova", helvetica, tahoma, verdana, sans-serif;
  
  
  // Elements
  $divider: 1px solid rgba(229,229,229,1); /* #E5E5E5 */



// Highlights
::-moz-selection{ background: #333; color:#fff; text-shadow: none; }
::selection { background:#333; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: none; }


// Global Elements
html, body {
}
body {
  -webkit-backface-visibility: hidden;
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  text-rendering: optimizelegibility;

  // HiDPI/Retina Media Query
  @include hdpi {
    background-image:  url('../img/');
  }
}

a {
  text-decoration: none;
  @include transition(color 0.25s linear);
  &:hover {

  }
}

dl, menu, ol, ul {
    margin: 0;
    padding: 0;
}
